<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.132.209)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=KIKAN.INSURANCE)));User Id=INS_MEISAI;Password=INS;"
			 providerName="Oracle.ManagedDataAccess.Client" />
		          <!--<oracleInfo host="192.168.132.209" port="1521" service="KIKAN.INSURANCE" user="INS_MEISAI" password="INS" maxPoolSize="100" minPoolSize="5"/>-->
	</connectionStrings>
	
	<appSettings>
		<add key="SchemaName" value="KIKAN.INSURANCE" />
		<add key="FileName" value="database_schema.puml" />
		<add key="RootDir" value="database_schema.puml" />
	</appSettings>
</configuration>
